READMEnotes.md

Classification/Data/
Classification/training_data/
Validation/

CL_DriverTemplate_Test.py
VegEdge_Montrose2022.py
VegEdge_Validation.py
VegEdge_StAndrewsTimeseries.py
VegEdge_Validation_Notebook.py
VegEdge_Validation_HiRes.py
VegEdge_Validation_Planet.py
VegEdge_RedRiver.py
VegEdge_FullS2Run.py
VedgeSat_Driver_Musselburgh.py
VedgeSat_Driver_StAndrews_StormBabet.py
VedgeSat_DriverTemplate_Upscaled.py
VegEdge_FullS2Run_Montrose.py
VedgeSat_Driver_Mombasa.py
VedgeSat_DriverTemplate_Testing.ipynb
VedgeSat_Narrabeen.py


VegEdge_Validation.ipynb
VegEdge.ipynb
Shoreline.ipynb

.virtual_documents
.ipynb_checkpoints/
CoastWatch.ipynb
.ipynb_checkpoints/CoastWatch-checkpoint.ipynb
*.pyc
__pycache__/

Results/

aviso-fes/
fes2014/
*.tar
*.nc
*.ini
*.zip

# Ignore
.vscode
Data/*/*
.private-key.json
*.log
__pycache__/
animations

# Allow
!Data/*/*.csv
!Data/*/*.xlsx
